<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  
</div>
<button (click)="clickMe()"> ChangeText</button>
<p>{{result}}</p>
<input type="text" (keyup)="changeMe($event)">
<p>Entered Text is {{movieName}}</p>
<form>
  <select (change)="display($event)">
    <option value="c1">category1</option>
    <option value="c2">category2</option>
    <option value="c3">category3</option>
    <option value="c4">category4</option>
  </select>
  selected category value is: {{state}}
  </form>
<h2> {{ age }} </h2>

<h2> {{fullName}} </h2>

<h2> {{ status }} </h2>
<h2> {{ email }} </h2>

<h2> Products Details </h2>

<table class="table table centered">
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Price</td>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{ product.name}}</td>
    <td>{{ product.price}}</td>
  </tr>
  </table>