<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  
</div>

<h2> {{ age }} </h2>

<h2> {{fullName}} </h2>

<h2> {{ status }} </h2>
<h2> {{ email }} </h2>

<h2> Products Details </h2>

<table class="table table centered">
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Price</td>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{ product.name}}</td>
    <td>{{ product.price}}</td>
  </tr>
  </table>