<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
<div id="small-img">
  <img src="/assets/open-uri.jpg" class="img-responsive"/>
  <img src="/assets/open-uri2.jpg" class="img-responsive" alt="Logo">
</div>
</div>


<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <h2>Addition:{{ result1 }}</h2>
  <h2>Substraction:{{ result2 }}</h2>
  <h2>Multiplication:{{ result3 }}</h2>
</div>
<h2>FileResult</h2>
<input type="file" placeholder="Enter File" (change)="changeFileResult($event)">
<span [innerHTML]="fileResult"></span><br/>
<h2>Files Result</h2>
<input type="file" placeholder="Enter files" (change)="changeFilesResult($event)" multiple="multiple">
<span [innerHTML]="filesResult"></span>
<br/>
<br/>
<button (click)="clickMe()"> ChangeText</button>
<p>{{result}}</p>
<input type="text" (keyup)="changeMe($event)">
<p>Entered Text is {{movieName}}</p>
<form>
   TwoWay Binding: <input tupe="text" [(ngModel)]="sportName" [ngModelOptions]="{standalone: true}"> {{sportName}} <br/>
  <select (change)="display($event)"> 
    <option value="c1">category1</option>
    <option value="c2">category2</option>
    <option value="c3">category3</option>
    <option value="c4">category4</option>
  </select>
  selected category value is: {{state}}
  </form>
<h2> {{ age }} </h2>

<h2> {{fullName}} </h2>

<h2> {{ status }} </h2>
<h2> {{ email }} </h2>

<h2> Products Details </h2>

<table class="table table centered">
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Price</td>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{ product.name}}</td>
    <td>{{ product.price}}</td>
  </tr>
  </table>

<h3>Register Form </h3>

<form [formGroup]="registerForm" (ngSubmit)="save()">
  <table>
    <tr>
      <td>UserName</td>
      <td>
        <input type="text" formControlName="userName">
      </td>
      <td>
        <div *ngIf="registerForm.get('userName').touched">
          <div *ngIf="registerForm.hasError('required', ['userName'])">
              This Field is required
            </div>
             <div *ngIf="registerForm.hasError('minlength', ['userName'])">
              Please enter atleast 3 characters
            </div>
             <div *ngIf="registerForm.hasError('maxlength', ['userName'])">
              please enter no more than 8 characters
            </div>
          </div>
      </td>
    </tr>
    <tr>
      <td>Password</td>
      <td>
        <input type="password" formControlName="password">
      </td>
      <td>
        <div *ngIf="registerForm.get('password').touched">
          <div *ngIf="registerForm.hasError('required', ['password'])">
              This Field is required
          </div>
          <div *ngIf="registerForm.hasError('pattern', ['password'])">
              password doesn't meet complexity requirements
           </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>email</td>
      <td>
        <input type="text" formControlName="email">
      </td>
      <td>
        <div *ngIf="registerForm.get('email').touched">
         <div *ngIf="registerForm.hasError('required', ['email'])">
              This Field is required
          </div>
           <div *ngIf="registerForm.hasError('pattern', ['email'])">
              email doesn't meet complexity requirements
           </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Age</td>
      <td>
        <input type="number" formControlName="age">
      </td>
      <td>
        <div *ngIf="registerForm.get('age').touched">
         <div *ngIf="registerForm.hasError('min', ['age'])">
              please enter a value greater then or equal to 18
          </div>
           <div *ngIf="registerForm.hasError('max', ['age'])">
              please enter a value that is less than or equal to 100
           </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Description</td>
      <td>
        <textarea cols="20" rows="5" formControlName="description"></textarea> 
      </td>
    </tr>
    <tr>
      <td valign="top">Gender</td>
      <td>
        <div *ngFor="let gender of genders">
          <input type="radio" formControlName="gender" value="{{ gender.value}}">{{ gender.display}}
        </div>
      </td>
    </tr>
    <tr>
      <td valign="top">Status</td>
      <td>
        <input type="checkbox" formControlName="status" >
      </td>
    </tr>
    <tr>
      <td valign="top">Languages</td>
      <td>
        <div *ngFor="let language of languages">
          <input type="checkbox" formControlName="languages" value="{{ language.id}}"
          (change)="onCheckboxChange(language,$event)">
          {{ language.name }}
        </div>
      </td>
    </tr>
    <tr>
      <td valign="top">Role</td>
      <td>
        <select formControlName="role">
          <option *ngFor="let role of roles" value="{{role.id}}">
            {{role.name}}
          </option>
        </select>
      </td>
    </tr>

    <tr>
      <td valign="top">Certificates</td>
      <td>
        <select formControlName="certificates" multiple="multiple">
          <option *ngFor="let certificate of certificates" value="{{certificate.value}}" >
          {{ certificate.display }}
        </option>
      </select>
      </td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td>
        <input type="submit" value="save"> 
      </td>
    </tr>
  </table>
</form>
================================
<h2>Product Info</h2>
<table border="1">
  <tr>
    <td>Id</td>
    <td>{{product.id}}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{product.name}}</td>
  </tr>
  <tr>
    <td>Photo</td>
    <td>{{product.photo}}</td>
  </tr>
  <tr>
    <td>Price</td>
    <td>{{product.price}}</td>
  </tr>
  <tr>
    <td>Quantity</td>
    <td>{{product.quantity}}</td>
  </tr>
</table>

<h2>Products List</h2>
<table border="1">
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Photo</td>
    <td>Price</td>
    <td>Quantity</td>
  </tr>
  <tr *ngFor="let p of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.photo}}</td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
  </tr>
  
</table>